
{% extends "core/base.html" %}

{% block content %}


<!--cards section-->
<section class="mt-6">
    <div class="flex align-items-center justify-center space-x-20">
        <div>
            <div class="bg-slate-200  min-h-72 w-80 p-4 rounded-t-lg shadow-md">
                <p>dfk</p>
            </div>
            <div class="bg-blue-500 text-white p-4 rounded-b-lg shadow-md">
                <h3 class="text-xl font-semibold"><a href="">Type Approval Certificate</a></h3>
            </div>
        </div>
        
        <div>
            <div class="bg-slate-200 min-h-72 w-80 p-4 rounded-t-lg shadow-md">
                <p>dfk</p>
            </div>
            <div class="bg-blue-500 text-white p-4 rounded-b-lg shadow-md">
                <h3 class="text-xl font-semibold"><a href="">Dealership License</a></h3>
            </div>
            
        </div>
    </div>

    
</section>
{% endblock content %}