{% extends "core/base.html" %}



{% block content %}
<div class="bg-gray-100 p-6 mx-auto w-1/2 rounded-xl mt-2 shadow-md">
    <h1 class="mb-6 text-2xl font-semibold">Login</h1>

    <form action="{% url 'login'%}" method="POST">
        {% csrf_token %}

        <div>
            <input type="text" name="username" class="py-4 px-4 mb-3 w-full rounded-xl border-black" placeholder="Username" required >
        </div>

        <div>
            <input type="password" name="password" class="py-4 px-4 mb-3 w-full rounded-xl border-black" placeholder="Password" required >
        </div>

        <br>

        {% if form.errors or form.non_field_errors %}
            <div class="mb-3 p-6 bg-red-100 rounded-xl">
                {% for field in form %}
                    {{form.non_field_errors}}
                {% endfor %}
            </div>
        {% endif %}

        <button class="px-8 py-4 w-full font-semibold text-white bg-blue-500 rounded-xl hover:bg-blue-700">submit</button>
    </form>

</div>

{% endblock content %}


